.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 90%;
  margin: 43px auto 50px;
  max-width: 1440px;

  @include respond-to(small) {
    margin: 20px;
  }

  .header__logo img {
    height: 68px;

    @include respond-to(small) {
      height: 46px;
    }
  }

  .header__navigation {
    ul {
      list-style: none;
      display: flex;
      gap: 57px;

      @include respond-to(small) {
        gap: 27px;
        padding-left: 5px;
      }

      li {
        display: inline;

        a {
          text-decoration: none;
          color: #000;
          font-size: 24px;
          font-weight: 500;

          @include respond-to(small) {
            font-size: 17px;
          }

          &:hover,
          &.active {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
