.slideshow {
  width: 100%;
  min-height: 415px;
  position: relative;

  @include respond-to(small) {
    min-height: 255px;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    img {
      height: 79px;
      margin: 0 10px 0 10px;
    }

    @include respond-to(small) {
      img {
        height: 20px;
      }
    }

    &--left {
      left: 10px;
    }

    &--right {
      right: 10px;
    }
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
  }

  &__counter {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 16px;
    z-index: 10;
  }
}
